@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap");
@import url("/assets/fonts/fa-free590/css/all.css");
.align-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bg-gradient, .text-gradient, .section-box h3 span, .skills-list li p {
  background: #d9ab3b;
  background: -webkit-gradient(linear, left top, right top, from(#d9ab3b), color-stop(67%, #fef6c8), to(#ffe88e));
  background: linear-gradient(90deg, #d9ab3b 0%, #fef6c8 67%, #ffe88e 100%);
}

.text-gradient, .section-box h3 span, .skills-list li p {
  color: #ecd286;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-transparent, header .box-border, .section-box li {
  background: rgba(0, 0, 0, 0.9);
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: url("/assets/images/bg.jpg") no-repeat center top fixed;
  background-size: cover;
  font: 300 0.9rem/2 'Open Sans','Athiti', sans-serif, tahoma;
  color: #fff;
}

#__next, .main {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: 0px 0;
  width: 100%;
}

a {
  color: #055097;
  text-decoration: none;
  display: inline;
  display: inline-block;
  transition: ease-in-out 200ms;
  -webkit-transition: ease-in-out 200ms;
  -ms-transition: ease-in-out 200ms;
  -moz-transition: ease-in-out 200ms;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

.p {
  width: 100%;
  margin: 0 0px 20px 0px;
  clear: both;
}

p {
  margin: 0 0 0px 0;
  padding: 0;
}

br {
  display: block;
  margin: 0px 0 0px 0;
  line-height: 0;
  content: ' ';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn, .btn1 {
  transition: ease-in-out 200ms;
  -webkit-transition: ease-in-out 200ms;
  -ms-transition: ease-in-out 200ms;
  -moz-transition: ease-in-out 200ms;
  background: none;
  min-width: 200px;
  text-align: center;
  cursor: pointer;
}

.btn1 {
  border: 2px solid #000000;
  padding: 7px 20px;
  color: #000000;
  font: 600 26px/1.4 'Kanit';
}

.btn1:hover {
  background: #000000;
  color: #fff;
}

label {
  float: left;
  min-width: 200px;
  text-align: right;
  padding: 0 20px 0 0;
  color: #000000;
  font-weight: 500;
  font-size: 22px;
  display: inline-block;
}

.txt {
  line-height: 25px;
  padding: 0 7px;
  height: 45px;
  background: #000000;
  color: #fff;
  border: none;
  font: 300 18px 'Kanit';
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.txt1 {
  width: 503px;
}

.txt2 {
  width: 359px;
}

.select {
  position: relative;
  cursor: pointer;
}

.select .select-list {
  position: absolute;
  top: 50px;
  left: 0;
  background: #000000;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  z-index: 3;
}

.frm p, .frm .p {
  clear: both;
  float: left;
  width: 100%;
  margin: 0 0 20px;
}

nav.menu-top {
  background: #000000;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 10px 10px 30px;
  border-radius: 35px 0px 0 35px;
  font-size: 1rem;
  position: fixed;
  top: 10px;
  right: 0;
  border: 2px solid #318cda;
  display: none;
}

nav.menu-top a {
  display: inline-block;
  margin: 0 15px;
  color: #ecd286;
}

nav.menu-top a:hover {
  color: #fff;
}

header {
  padding: 100px 0 100px;
  background: url("/assets/images/head.jpg") no-repeat center bottom fixed;
  background-size: cover;
}

header .box-border {
  border: 1px solid #444;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 30px 80px;
  margin: 0px 20px 0 0px;
  float: right;
  font-weight: 300;
  text-align: center;
}

header .box-border h4 {
  margin: 15px 0 7px;
  font-weight: 300;
  font-size: 1.4rem;
}

header .profile-img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

header .profile-img img {
  display: block;
  width: 100%;
}

.top-detail h2 {
  border-bottom: 1px solid #aaa;
  margin: 0 0 20px;
  padding: 0 0 20px;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4;
  color: #ecd286;
}

.top-detail p {
  text-align: left;
  margin: 0 0 7px;
  font-weight: 200;
  line-height: 1.6;
}

.top-detail p span {
  text-align: left;
  display: inline-block;
  vertical-align: top;
}

.top-detail p span:first-child {
  width: 20%;
}

.top-detail p span:first-child:after {
  content: ':';
  display: inline-block;
  float: right;
}

.top-detail p span:last-child {
  width: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
}

.box-inner {
  width: 1170px;
  margin: 0px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  max-width: 100%;
}

.contain {
  padding: 50px 0 0;
  clear: both;
}

.shadow {
  background: rgba(0, 51, 104, 0.95);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

.section-box {
  padding: 20px 0 140px 0;
}

.section-box h3 {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.section-box h3 i, .section-box h3 span {
  display: inline-block;
  vertical-align: middle;
}

.section-box h3 span {
  font-size: 2.4rem;
}

.section-box h3 i {
  color: #fff;
  font-size: 1.4rem;
}

.section-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0 0;
  margin: 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-box li {
  list-style: none;
  padding: 20px;
  border: 1px solid #444;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 2.2;
}

.section-box h4 {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #318cda;
}

.section-box h5 {
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 300;
  line-height: 1.4;
  color: #318cda;
}

.section-box .ex-text {
  position: relative;
  font-size: 0.85rem;
  color: #eee;
}

.edu-box h4 {
  margin-top: 25px;
}

.skills-list {
  background: url("/assets/images/skill.jpg") repeat center fixed;
  font-size: 1.6rem;
  color: #fff;
  padding: 100px 0;
}

.skills-list ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}

.skills-list li {
  clear: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid #ecd286;
}

.skills-list li p {
  width: 100%;
  font-family: 'Oswald';
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 5px;
}

.experience li {
  width: 30%;
}

.skills-icon {
  padding: 70px 0 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills-icon .icon {
  border: 4px solid;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 700;
  background: #fff;
  padding: 1.5% 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: 'Oswald';
  margin: 0 20px;
  -webkit-transition: -webkit-transform 1000ms ease-in-out;
  transition: -webkit-transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out, -webkit-transform 1000ms ease-in-out;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.skills-icon .icon img {
  display: inline-block;
  width: 35%;
}

.skills-icon .icon p {
  padding: 7px 0 0;
  width: 100%;
}

.skills-icon .icon1 {
  border-color: #282a84;
  color: #282a84;
}

.skills-icon .icon2 {
  border-color: #803d2d;
  color: #803d2d;
}

.skills-icon .icon3 {
  border-color: #318cda;
  color: #318cda;
}

.skills-icon .rotate {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.port-link {
  padding: 80px 0;
  font-size: 1.1rem;
}

.port-link ul {
  text-align: center;
}

.port-link li {
  list-style: none;
  text-align: center;
  display: inline-block;
  margin: 10px;
  border: 1px solid #666;
}

.port-link li:nth-child(2n) a {
  color: #ddd;
}

.port-link li:hover {
  border-color: #fff;
}

.port-link li a {
  color: #318cda;
  padding: 7px 30px;
}

.port-link li a:hover {
  background: #318cda;
  color: #fff;
}

.port-link li:before {
  content: '';
  background: #666;
  width: 5px;
  height: 5px;
  display: inline-block;
  margin: 0 10px 0 0;
  vertical-align: middle;
  border-radius: 50%;
  display: none;
}

.design {
  padding: 80px 0;
  background-size: cover;
}

.design ul {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 0;
          column-gap: 0;
}

.design li {
  list-style: none;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  overflow: hidden;
  width: auto;
  margin: 0 12px 12px 0;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  clear: both;
  border: 1px solid #fff;
}

.design li a, .design li img {
  display: block;
  width: 100%;
}

.design li img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.design li:after {
  content: '';
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: ease-in-out 1000;
  -webkit-transition: ease-in-out 1000;
  -ms-transition: ease-in-out 1000;
  -moz-transition: ease-in-out 1000;
}

.design li:hover:after {
  opacity: 0;
}

/*/////////////// Responsive ////////////////*/
.align-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bg-gradient, .text-gradient, .section-box h3 span, .skills-list li p {
  background: #d9ab3b;
  background: -webkit-gradient(linear, left top, right top, from(#d9ab3b), color-stop(67%, #fef6c8), to(#ffe88e));
  background: linear-gradient(90deg, #d9ab3b 0%, #fef6c8 67%, #ffe88e 100%);
}

.text-gradient, .section-box h3 span, .skills-list li p {
  color: #ecd286;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-transparent, header .box-border, .section-box li {
  background: rgba(0, 0, 0, 0.9);
}

@media only screen and (max-width: 1170px) {
  .box-inner {
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
  }
}

@media only screen and (max-width: 899px) {
  header .menu-top {
    font-size: 16px;
  }
  header .menu-top li {
    margin: 0 30px 0 0;
  }
  header .box-border {
    float: none;
    margin: 0 auto 30px;
    max-width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 30px 50px;
  }
  .experience li {
    width: 100%;
    margin: 0 0 20px;
  }
  .experience li:nth-child(2) {
    margin: 0 0 20px;
  }
  .skills-list ul {
    -webkit-columns: 2;
            columns: 2;
    -webkit-column-gap: 20;
            column-gap: 20;
  }
  .skills-list li {
    width: 48%;
    margin: 0 0 20px;
  }
  .skills-list li:nth-child(2n) {
    margin: 0 0 20px;
  }
  .skills-icon .icon {
    margin-bottom: 20px;
  }
  .port-link ul {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

@media only screen and (max-width: 599px) {
  h2 {
    font-size: 30px;
  }
  header {
    padding: 20px 0;
  }
  header .menu-top li {
    width: 100%;
    margin: 0;
  }
  header .menu-top li a {
    padding: 10px;
  }
  .skills-list {
    padding: 30px 0;
  }
  .skills-list ul {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .skills-icon {
    padding-top: 30px;
  }
  .skills-icon .icon {
    width: 220px;
    height: 220px;
  }
}

@media only screen and (max-width: 479px) {
  .skills-list li {
    width: 100%;
    margin: 0 0 20px;
  }
}
