
@include breakpoint(small) {
	h2{
		font-size:30px; 
	}

	header{
		padding:20px 0;

		.menu-top{
			
			li{
				width:100%; margin:0;

				a{
					padding:10px; 
				}
			}
		}
	}

	.skills-list{
		padding:30px 0;

		ul{
			grid-template-columns: repeat(1, 1fr);
			gap: 20px;
		}
	}

	.skills-icon{
		padding-top:30px;

		.icon{
			width:220px; height: 220px;
		}
	}

	
}