.design{
    padding:80px 0;
    background-size:cover;

    ul{
        column-count: 3;
        column-gap: 0;
    }

    li{
        list-style:none;
        break-inside: avoid; overflow: hidden;
        width:auto; margin:0 12px 12px 0;
        position: relative;
        padding-top: 56.25%;
        overflow: hidden;
        clear: both; border:1px solid #fff;

        a,img{
            display:block; width:100%;
        }

        img{
            position: absolute;
            top: 0; left: 0;
            right: 0; bottom: 0;
            margin:0 auto;
            
        }

        &:after{
            content:''; background:rgba(0,0,0,0.2);
            position: absolute; top:0; left:0; height: 100%;
            width:100%; @include transition(1000);
        }

        &:hover{
            img{
               
            }

            &:after{
                opacity: 0;
            }
        }
    }
}