.section-box{
    padding:20px 0 140px 0;

    h3{
        text-transform: uppercase;
        font-weight: 600; text-align: center;
        margin-bottom:20px;

        i, span{
            display:inline-block; vertical-align: middle;
        }

        span{
            @extend .text-gradient;
            font-size:2.4rem;
        }

        i{
            color:#fff; font-size:1.4rem;
        }
    }

    ul{
        display:flex; justify-content: space-between;
        padding:20px 0 0;
        margin: 0px; flex-wrap: wrap;
        
    }

    li{
        list-style: none; 
        padding:20px; 
        border:1px solid #444;
        box-sizing: border-box; 
        @extend .bg-transparent;
        line-height: 2.2;

        
    }

    h4{
        font-size:1.1rem; font-weight: 500;
        line-height: 1.6; margin-bottom:10px;
        text-transform: uppercase;
        color:$themecolor2;
    }

    h5{
        font-size:0.9rem; font-style: italic;
        font-weight: 300;
        line-height: 1.4;
        color:$themecolor2;
    }

    .ex-text{
        position: relative;
        font-size:0.85rem;
        color:#eee;

        &:before{
            
        }
    }
}

.edu-box{
    h4{
        margin-top:25px;
    }

    
}


.skills-list{
    background:url("/assets/images/skill.jpg") repeat center fixed;
    font-size:1.6rem; color:#fff;
    padding:100px 0; 

    ul{
        display:grid; 
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;
    }

    li{
        clear: none; 
        text-align: center; 
        display:flex; flex-wrap: wrap; 
        align-content: center;  justify-content: space-between;
        background:rgba(0,0,0,0.8);
        border:2px solid $themecolor3;

        p{
            width:100%; @extend .text-gradient;
            font-family: 'Oswald'; font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1px;
            word-spacing: 5px;
        }
    }
}

.experience{
    li{
        width:30%;
    }
}


.skills-icon{
    padding:70px 0 0; text-align: center;
    display:flex; justify-content: center;
    flex-wrap: wrap;
    
    .icon{
        border:4px solid; height: 130px; width:130px;
        border-radius: 50%; display:flex;
        flex-wrap: wrap; align-items: center;
        align-content: center; justify-content: center;
        text-align: center; 
        box-sizing: border-box; font-weight: 700;
        background:#fff; padding:1.5% 0;
        font-size:1rem; text-transform: uppercase;
        font-family: 'Oswald'; margin:0 20px;
        transition: transform 1000ms ease-in-out;
        transform: rotate(-5deg);

        img{
            display:inline-block; width:35%;
            
        }

        p{
            padding:7px 0 0; width:100%;
        }

    }
    
    .icon1{
        border-color:#282a84; color:#282a84;
    }
    .icon2{
        border-color:#803d2d; color:#803d2d;
    }
    .icon3{
        border-color:#318cda; color:#318cda;
    }

    .rotate{
        transform: rotate(10deg);
    }
}


.design-port{

}


.port-link{
    padding:80px 0; font-size:1.1rem;

    ul{
       text-align: center;
    }

    li{
        list-style:none;  text-align: center;
        display:inline-block;
        margin:10px;
        border:1px solid #666;

        &:nth-child(2n){
            a{
                color:#ddd;
            }
        }

        &:hover{
            border-color:#fff;
        }



        a{
            color:$themecolor2;
            padding:7px 30px;

            &:hover{
                background:$themecolor2;
                color:#fff;
            }
        }

        &:before{
            content:''; background:#666;
            width:5px; height: 5px; display:inline-block;
            margin:0 10px 0 0; vertical-align: middle;
            border-radius: 50%;
            display: none;
        }
    }
}

