nav.menu-top{
    background:$themecolor; width:fit-content;
    margin:0 auto; padding:10px 10px 10px 30px;
    border-radius: 35px 0px 0 35px;
    font-size:1rem; position:fixed;
    top:10px; right:0; border:2px solid $themecolor2;
    display:none;

    a{
        display:inline-block; margin: 0 15px;
        color:$themecolor3;

        &:hover{
            color:#fff;
        }
    }
}

header{ 
    padding:100px 0 100px; background:url("/assets/images/head.jpg") no-repeat center bottom  fixed;
    background-size:cover;


    .box-border{
        border:1px solid #444;
        width:fit-content; padding:30px 80px;
        margin:0px 20px 0 0px;
        float: right; font-weight: 300;
        text-align: center;
        @extend .bg-transparent;
        

        h4{
            margin:15px 0 7px;
            font-weight: 300;
            font-size:1.4rem;
        }
    }

    .profile-img{
        height: 180px; width:180px; border-radius: 50%;
        overflow: hidden; margin:auto;

        img{
            display:block; width:100%;
        }
    }
}

// #__next-prerender-indicator {
//     display: none;
// }

.top-detail{
    h2{
        border-bottom:1px solid #aaa;
        margin:0 0 20px; padding:0 0 20px;
        font-size:1.6rem; font-weight: 300;
        line-height: 1.4;
        color:$themecolor3;
    }

    p{
        text-align: left; margin:0 0 7px;
        font-weight: 200; line-height: 1.6;

        span{
            text-align: left;
            display:inline-block;
            vertical-align: top;

            &:first-child{
                width:20%;

                &:after{
                    content:':'; display:inline-block;
                    float: right;
                }
            }

            &:last-child{
                width:80%; box-sizing: border-box;
                padding-left:20px;
                
            }
        }
    }
}

