$themecolor : #000000; 
$themecolor2 : #318cda;
$themecolor3 : #ecd286;

$textcolor : #0d0d0d;
$textcolor2 : #fff;

$linkcolor : #055097;

$linecolor :#666;


.align-between{
    display:flex; justify-content: space-between;
}

.bg-gradient { 
    background: rgb(217,171,59);
    background: linear-gradient(90deg, rgba(217,171,59,1) 0%, rgba(254,246,200,1) 67%, rgba(255,232,142,1) 100%);
}

.text-gradient{
    color:$themecolor3;
    @extend .bg-gradient;
    background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bg-transparent{
    background:rgba(0,0,0,0.9);
}